rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{event} {
      allow read, write: if event.userId == request.auth.uid;
    }
    match /tasks/{task} {
      allow read, write: if task.userId == request.auth.uid;
    }
  }
}